@font-face {
  font-family: 'antonio';
  src: url('/assets/fonts/Antonio-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --stone-top: 49%;
  --stone-2-top: 80%;
  --para-screen: 1;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'antonio', sans-serif;
  background-color: wheat;

}



.parallax-container {
  position: relative;
  overflow: hidden;
  height: 100vh;


}



.parallax-layer {
  position: absolute;
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  transform: translateY(0);
  transition: transform 0.1s ease-out;
  will-change: transform;
  pointer-events: none
}


.parallax-layer img {
  width: 100%;

}

.bg {
  z-index: -1;

  position: absolute;

}

.bg img {
  width: 100%;
  height: 85%;

}


.logo {
  margin-top: 20vh;
  width: 40%;
  color: white;

  text-align: center;
  font-size: 3vw;
}

.stars {
  z-index: 2;
  mix-blend-mode: screen;
  position: absolute;


}

.wind {
  z-index: 2;
  mix-blend-mode: lighten;
  position: absolute;


}

.box {
  display: flex;
  justify-content: center;
  background-color: rgba(25, 25, 255, 0.262);
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  box-shadow: 0px 10px 69px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10%;
}



.hero-box {
  z-index: 1000;
  position: absolute;
  top: 5%;
  left: 10%;
  height: 85%;
  width: 80%;
  border-radius: 20px;
}

.planet-1 {
  z-index: 5;
  mix-blend-mode: exclusion;
  position: absolute;
  left: 32%;
  top: -40%;
  scale: 0.3;
}

.planet-2 {
  z-index: 4;
  mix-blend-mode: screen;
  position: absolute;
  left: -38%;
  top: -40%;
  scale: 0.15;
}

.planet-3 {
  z-index: 3;
  scale: 0.3;

  position: absolute;
  left: -20%;
  top: -15%;
  scale: 0.07;

}



.ship {
  z-index: 50;
  top: -40%;
  scale: 0.2;

  mix-blend-mode: lighten;
}

.stone-1 {
  z-index: 100;
  position: absolute;

  top: var(--stone-top);

}

.stone-2 {
  z-index: 200;
  position: absolute;
  top: var(--stone-2-top);
}

.shadow {
  z-index: 1;
  mix-blend-mode: screen;
  top: 50%;

}

.dust {
  z-index: 0;
  mix-blend-mode: screen;

}

.test {
  font-size: 50px;
}

.CTA {}



@media screen and (max-width: 2000px) {
  :root {
    --stone-top: 55%;
    --para-screen: 2;

  }
}

@media screen and (max-width: 1500px) {
  :root {
    --stone-top: 65%;
    --para-screen: 3;

  }
}

@media screen and (max-width: 1000px) {
  :root {
    --stone-top: 70%;
    --stone-2-top: 85%;
    --para-screen: 4;

  }
}

@media screen and (max-width: 800px) {
  :root {
    --stone-top: 75%;
    --para-screen: 5;

  }
}

@media screen and (max-width:720px) {
  :root {
    --stone-top: 85%;
    --stone-2-top: 90%;
    --para-screen: 6;

  }
}